;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Mar 30 16:55:10 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("bold" "bld"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/tmp/test.cpp" "/Users/stefan/tmp/scrypt-1.1.6/main.c" "/Users/stefan/.emacs.d/elpa/flatui-theme-20140321.1830/flatui-theme.el" "/Users/stefan/.emacs.d/init.el" "/Users/stefan/.emacs.d/st3fan/st3fan-whitespace.el" "/Users/stefan/.emacs.d/st3fan/st3fan-clojure.el" "/Users/stefan/.emacs.d/st3fan/st3fan-theme.el" "/Users/stefan/.emacs.d/st3fan/st3fan-custom.el" "~/.emacs.d/st3fan-custom.el" "~/.emacs.d/st3fan-theme.el" "~/.emacs.d/st3fan-packages.el" "/Users/stefan/.emacs.d/st3fan-paths.el" "/Users/stefan/.emacs.d/init.el" "/tmp/test.cpp" "/Users/stefan/.emacs.d/init.el" "~/.emacs.d/init.el" "~/tmp/scrypt-1.1.6/main.c" "~/.emacs.d/elpa/flatui-theme-20140320.1750/flatui-theme.el" "~/tmp/picl-spec-crypto/demo-client.py" "/tmp/test.cpp" "~/.emacs.d/url/cookies" "~/.emacs.d/elpa/archives/melpa/archive-contents" "~/.emacs.d/elpa/archives/marmalade/archive-contents" "~/.emacs.d/elpa/archives/gnu/archive-contents"))

;; Buffer section -- buffers listed in same order as in buffer list:
